#primary-menu ul {
  display: flex !important;
  list-style-type: none;
  font-family: "Source Sans Pro", sans-serif;
}

#primary-menu ul li {
  margin-left: 20px;
}

#primary-menu a {
  color: white !important;
  letter-spacing: 2px !important;
}

.navbar {
  background: transparent;
  position: absolute;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1063px;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
}
