#site-navigation ul {
  display: flex !important;
  list-style-type: none;
  font-family: "Source Sans Pro", sans-serif;
}

#site-navigation ul li {
  margin-left: 20px;
}

#site-navigation a {
  color: white !important;
  letter-spacing: 2px !important;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  #site-navigation ul li {
    margin-left: 8px;
  }
}
